---
layout: post
---

<div class="post-box">
    <div class="post-meta">
        <h1 class="article-title">{{page.title}}</h1>
        <ul>
            <li>
                <span class="bi bi-person"></span>
                <a href="/index.html">{{page.author}}</a>
            </li>
            <li>
                <span class="bi bi-tag"></span>
                {% for tag in page.tags %}
                    <a href="/tag/{{tag | slugify}}">{{tag}}{% unless forloop.last %},{% endunless %}</a>
                {% endfor %}
            </li>
            <li>
                <span class="bi bi-clock"></span> {{page.date | date_to_long_string}}
            </li>
        </ul>
    </div>
    <div class="article-content">
        {{content}}
    </div>
</div>