---
layout: post
---

<div class="post-box">
    <div class="post-meta">
        <h1 class="article-title">{{page.title}}</h1>
        <ul>
            <li>
                <span class="bi bi-person"></span>
                <a href="#">{{page.author}}</a>
            </li>
            <li>
                <span class="bi bi-tag"></span>
                <a href="#">tag</a>
            </li>
            <li>
                <span class="bi bi-chat-left-text"></span>
                <a href="#">14</a>
            </li>
        </ul>
    </div>
    <div class="article-content">
        {{content}}
    </div>
</div>